
# Flutter/Dart/Pub related
**/build/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/engine
**/ios/Flutter/flutter_assets
**/ios/Pods/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata

# FVM Version Cache
.fvm/

# VS Code
.vscode/
.idea/

# Mac/Linux/Windows
.DS_Store
*.log
*.iml

